* {
  font-family: Noto Sans;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-power,
#clock,
#cpu,
#memory,
#temperature,
#workspaces,
#idle_inhibitor,
#network,
#custom-vpn,
#bluetooth,
#pulseaudio {
  background-color: rgba(10, 10, 8, 0.9);
  color: #cacace;
  border: 2px solid #ff2450;
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 14px;
  margin: 8px;
}

#custom-power {
  padding-right: 5px;
}

#custom-power:hover,
menuitem:hover,
#clock:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#pulseaudio:hover {
  background-color: rgba(50, 50, 37, 0.9);
}

/*********************************************************************/
/******************************** MENU *******************************/
/*********************************************************************/

menu,
menuitem {
  background-color: rgba(10, 10, 8, 0.9);
  color: #cacace;
  border-radius: 15px;
  border: 2px solid #ff2450;
  font-weight: bold;
}

menuitem {
  background-color: transparent;
  border: 0px;
  margin: 2px;
}

/*********************************************************************/
/***************************** WORKSPACES ****************************/
/*********************************************************************/

#workspaces button {
  padding: 0 5px;
  color: #cacace;
  margin: 0px 6px;
}

#workspaces button.active {
  border: 1.5px solid #cacace;
}

#workspaces button:hover {
  background: transparent;
  border: 1.5px solid #cacace;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: rgba(255, 102, 133, 0.9);
  color: #0a0a08;
}

/*********************************************************************/
/*********************** POWER PROFILES DAEMON ***********************/
/*********************************************************************/

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

/*********************************************************************/
/****************************** BATTERY ******************************/
/*********************************************************************/

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
