* {
  font-family: Noto Sans;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-power,
#clock,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#workspaces,
#idle_inhibitor,
#network,
#custom-vpn,
#bluetooth,
#pulseaudio,
#battery {
  background-color: rgba(10, 10, 8, 0.9);
  color: #cacace;
  border: 2px solid #ff2450;
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 14px;
  margin: 8px;
}

#custom-power,
#power-profiles-daemon.power-saver {
  padding-right: 5px;
}

#power-profiles-daemon.balanced {
  padding-right: 9px;
}

#custom-power,
menuitem,
#clock,
#idle_inhibitor,
#bluetooth,
#pulseaudio {
  transition: background-color 0.2s ease-in-out;
}

#custom-power:hover,
menuitem:hover,
#clock:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover {
  background-color: rgba(50, 50, 37, 0.9);
  transition: background-color 0.2s ease-in-out;
}

/*********************************************************************/
/******************************** MENU *******************************/
/*********************************************************************/

menu,
menuitem {
  background-color: rgba(10, 10, 8, 0.9);
  color: #cacace;
  border-radius: 15px;
  border: 2px solid #ff2450;
  font-weight: bold;
}

menuitem {
  background-color: transparent;
  border: 0px;
  margin: 2px;
}

/*********************************************************************/
/***************************** WORKSPACES ****************************/
/*********************************************************************/

#workspaces button {
  padding: 0 5px;
  color: #cacace;
  margin: 0px 6px;
  border: 1.5px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

#workspaces button.active {
  border-color: #cacace;
}

#workspaces button:hover {
  background: transparent;
  border-color: #cacace;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: rgba(255, 102, 133, 0.9);
  color: #0a0a08;
}
