# *********************************************************************
# ***************************** WALLPAPERS ****************************
# *********************************************************************
# https://wiki.hypr.land/Hypr-Ecosystem/hyprpaper

$CURRENT_WALLPAPER = ~/wallpapers/monster/red-sun-rises.png

{{- if eq .chezmoi.hostname "gored" }}
wallpaper {
  monitor = DP-2
  path = $CURRENT_WALLPAPER
  fit_mode = cover
}

wallpaper {
  monitor = DP-3
  path = $CURRENT_WALLPAPER
  fit_mode = cover
}
{{- else if eq .chezmoi.hostname "gorel" }}
wallpaper {
  monitor = eDP-1
  path = $CURRENT_WALLPAPER
  fit_mode = cover
}
{{- end }}

# Fallback wallpaper
wallpaper {
  monitor =
  path = $CURRENT_WALLPAPER
  fit_mode = cover
}

# Misc options
splash = false
