[mgr]
linemode = "size"

[preview]
max_width = 3000
max_height = 4500

[open]
prepend_rules = [
  # Custom rule for viewing image files
  { mime = "image/jpeg", use = [ "image" ] },
  { mime = "image/png", use = [ "image" ] },
  { mime = "image/gif", use = [ "image" ] },
  { mime = "image/webp", use = [ "image" ] },
  { mime = "image/tiff", use = [ "image" ] },
  { mime = "image/x-tga", use = [ "image" ] },
  { mime = "image/vnd-ms.dds", use = [ "image" ] },
  { mime = "image/x-dds", use = [ "image" ] },
  { mime = "image/bmp", use = [ "image" ] },
  { mime = "image/vnd.microsoft.icon", use = [ "image" ] },
  { mime = "image/vnd.radiance", use = [ "image" ] },
  { mime = "image/x-exr", use = [ "image" ] },
  { mime = "image/x-portable-bitmap", use = [ "image" ] },
  { mime = "image/x-portable-graymap", use = [ "image" ] },
  { mime = "image/x-portable-pixmap", use = [ "image" ] },
  { mime = "image/x-portable-anymap", use = [ "image" ] },
  { mime = "image/x-qoi", use = [ "image" ] },
  { mime = "image/qoi", use = [ "image" ] },
  { mime = "image/svg+xml", use = [ "image" ] },
  { mime = "image/svg+xml-compressed", use = [ "image" ] },
  { mime = "image/avif", use = [ "image" ] },
  { mime = "image/heic", use = [ "image" ] },
  { mime = "image/jxl", use = [ "image" ] },
  # Custom rule for viewing PDF files
  { mime = "application/pdf", use = [ "pdf" ] },
]

[opener]
# Use the mpv media player for playing
# "--force-window" ensures a video output window is displayed when playing media files not containing video
play = [
  { run = 'mpv --force-window %s', desc = "mpv", orphan = true, for = "linux" }
]
# Image viewer 1: Loupe
# Image viewer 2: icat
# "clear" ensures the image is not displayed when displaying subsequent images or when exiting Yazi
# Image viewer 3: exiftool
# Doesn't view the image, just prints the metadata
image = [
  { run = 'loupe %s', desc = "Loupe", orphan = true, for = "linux"},
  { run = 'kitten icat --hold --fit both %s && clear', desc = "icat", block = true, for = "linux"},
  { run = 'exiftool -k %s && clear', desc = "Show EXIF", block = true, for = "linux"}
]
# PDF viewer 1: zathura
# PDF viewer 2: Firefox
# PDF viewer 3: exiftool
# Doesn't view the PDF file, just prints the metadata
pdf = [
  { run = "zathura %s", desc = "zathura", orphan = true, for = "linux" },
  { run = "firefox %s", desc = "Firefox", for = "linux" },
  { run = 'exiftool -k %s && clear', desc = "Show EXIF", block = true, for = "linux"}
]
