# *********************************************************************
# ***************************** AUTOSTART *****************************
# *********************************************************************

# Autostart necessary processes & favorite apps at launch
exec-once = $terminal
exec-once = $browser
exec-once = systemctl --user start hyprpolkitagent # Enable polkit authentication
exec-once = dunst # Notification daemon
exec-once = hyprpaper # Wallpaper utility
exec-once = hyprlauncher -d # Launcher/picker. Spawn daemon without opening a window.
exec-once = hypridle # Idle management daemon
exec-once = hyprsunset # Blue light filter
exec-once = waybar # Status bar
exec-once = mega-cmd-server # MEGAcmd access to MEGA services
{{- if eq .chezmoi.hostname "gored" }}
exec-once = openrgb --server # Start the OpenRGB SDK server on the default port 6742
{{- end }}
