# *********************************************************************
# ********************** WINDOWS AND WORKSPACES ***********************
# *********************************************************************
# https://wiki.hypr.land/Configuring/Window-Rules
# https://wiki.hypr.land/Configuring/Workspace-Rules

# Ignore maximize requests from all apps
windowrule {
    name = suppress-maximize-events
    match:class = .*

    suppress_event = maximize
}

# Fix some dragging issues with XWayland
windowrule {
    name = fix-xwayland-drags
    match:class = ^$
    match:title = ^$
    match:xwayland = true
    match:float = true
    match:fullscreen = false
    match:pin = false

    no_focus = true
}

# Hyprland-run windowrule
windowrule {
    name = move-hyprland-run
    match:class = hyprland-run

    move = 20 monitor_h-120
    float = yes
}

# termfilechooser: Float + center
windowrule {
  name = float-termfilechooser
  match:class = kitty
  match:title = termfilechooser

  float = yes
  center = yes
  # Size of the window should be 58.6% of screen width & 62.5% of screen height
  {{- if eq .chezmoi.hostname "gored" }}
  size = 1500 900
  {{- else if eq .chezmoi.hostname "gorel" }}
  size = 1758 1250
  {{- end }}
}

# Steam games: Fullscreen and inhibit idling
windowrule {
  name = fullscreen-steam-game
  match:class = steam_app_(.*)

  fullscreen = yes
  idle_inhibit = always
}
