#!/usr/bin/env lua
-- Turn displays on after resuming from idle with displays off
-- For use with hypridle

local hour = os.date("*t").hour

os.execute("hyprctl dispatch \"hl.dsp.dpms({ action = 'on' })\"")

-- Reapply hyprsunset, as a current BUG resets the blue light filter when hypridle activates
if hour >= 19 or hour < 5 then
	os.execute("hyprctl hyprsunset temperature 3400")
else
	os.execute("hyprctl hyprsunset identity true") -- Value of temperature is ignored, but brightness still affected by gamma
end

{{- if eq .chezmoi.hostname "gored" }}
--[[
  Refresh the second monitor by changing its refresh rate.
  If the monitor is not refreshed, it quickly turns on and off flashing black.
  The issue occurs when the monitor is turned back on after being turned off while the system is on. Happens after "dpms off" turns off the screens on lock screen or suspend.
  Really stupid NVIDIA bug that is never fixed.
]]
os.execute("sleep 2")
os.execute("hyprctl eval \"hl.monitor({ output = 'DP-3', mode = '2560x1440@60', position = '-2560x0', scale = 1, })\"")
os.execute("hyprctl eval \"hl.monitor({ output = 'DP-3', mode = '2560x1440@144', position = '-2560x0', scale = 1, })\"")
{{- end }}
